[Unit]
Description=Updates wallpaper with realtime imagery from meteorological satellite GOES
After=network.target

[Service]
Type=simple
ExecStart=$SCRIPT
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/$USERNAME/.Xauthority

[Install]
WantedBy=default.target
