[Unit]
Description=Run GOES script on user login
After=network.target

[Service]
Type=simple
ExecStart=/home/gabriel/gabriel/projetos/goes/goes.sh
User=gabriel
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/gabriel/.Xauthority

[Install]
WantedBy=default.target
